@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
  scrollbar-color: #ffcdab #666662;
}

*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: #666662;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffcdab;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1000px;
}

.search-container {
  margin: 3rem auto 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}