@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1000px;
}

.search-container {
  margin: 3rem auto 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #e2e2e2;
  border-radius: .25rem;
}